:root {
	--blanco: #ffffff;
	--fondo: #3D24A4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 10px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--blanco);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.Formulario {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
}

.Formulario .Cliente{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Cliente.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.Formulario .Organizacion{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Organizacion.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.Formulario .Objeto{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Elegir_Objeto.jpg);
	height: 700px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.Formulario .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.Formulario .titulo {
	text-align:center;
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 1em;
}

p{
	float:left;
	display: block;
	position: relative;
	top: 0.4em;
	color:rgba(255,255,255, 0.7);
	text-align:left;
	font-weight: 600;
	font-size: 15px;
	margin-left: 14em;
}

input, #country {
	background: rgba(255,255,255, 0.5);
	display: block;
	text-align:left;
	font-weight: 600;
	font-size: 1.25em;
	margin-left: 30%;
	margin-bottom: 1.5em;
	width: 41%;
}

.Formulario .boton {
	text-align: center;
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-left: 43%;
	cursor: pointer;
	font-size: 1.45em;
}

.Formulario .boton:hover {
	background: #fff;
	color: #000;
}


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

input, #country{
	width: 200px;
}

	.Formulario .boton{
		margin-left: 30%;
		margin-right: 30%;
	}
}
